## Continuation of Day 10
### Part-B Feature Selection, Data Splitting, MinMaxScalar and OnehotEncoder

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder

In [4]:
data = pd.read_csv("../Day10: Data_Preprocessing/hotel_bookings.csv")

In [5]:
data.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
92413,City Hotel,0,0,2016,July,28,6,0,0,3,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2016-07-06
85770,City Hotel,0,33,2016,March,12,16,1,4,2,...,No Deposit,138.0,NaN,0,Transient,63.58,0,0,Check-Out,2016-03-21
100462,City Hotel,0,20,2016,October,44,27,0,1,2,...,No Deposit,28.0,NaN,0,Transient,85.00,0,0,Check-Out,2016-10-28
89214,City Hotel,0,121,2016,May,21,16,1,2,2,...,No Deposit,9.0,NaN,0,Transient-Party,114.30,0,0,Check-Out,2016-05-19
35484,Resort Hotel,0,84,2017,April,16,18,1,5,1,...,No Deposit,NaN,NaN,0,Transient-Party,74.60,0,0,Check-Out,2017-04-24
65973,City Hotel,1,102,2017,April,15,11,2,5,3,...,No Deposit,9.0,NaN,0,Transient,165.75,0,1,Canceled,2017-01-07
8975,Resort Hotel,1,141,2016,October,43,22,2,2,2,...,No Deposit,240.0,NaN,0,Transient,78.00,0,0,Canceled,2016-06-20
114184,City Hotel,0,118,2017,June,24,15,0,3,2,...,No Deposit,9.0,NaN,0,Transient,230.00,0,0,Check-Out,2017-06-18
57902,City Hotel,1,96,2016,October,41,3,1,1,1,...,No Deposit,9.0,NaN,0,Transient,108.00,0,0,Canceled,2016-07-03
31264,Resort Hotel,0,0,2017,May,18,2,0,1,1,...,No Deposit,240.0,NaN,0,Transient,73.00,1,1,Check-Out,2017-05-03

Never train on test data. If you are seeing surprisingly good results on your evaluation metrics, it might be a sign that you are accidentally training on the test set. For example, high accuracy might indicate that test data has leaked into the training set.

In [7]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

```
Note: 
    When we build Machine Learning Model we do parse Date from Object to DateTime. But here we shall ignore it. You already know how to change date object to datetime. If not check Pandas Notebooks
```

In [9]:
data.drop("company",axis=1,inplace=True)

In [10]:
data.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

### Handling Missing Values

Let us use SimpleImputer and handle the missing value to clean up the dataset based on different strategy. Here I shall use most_frequent.

In [50]:
from sklearn.impute import SimpleImputer

In [80]:
si = SimpleImputer(strategy="most_frequent")

In [81]:
imputed_data = si.fit_transform(data)

In [77]:
type(imputed_data[1][1])

int

In [53]:
list(data.columns)

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

In [72]:
df = pd.DataFrame(imputed_data,)

In [74]:
original_data = list(data.columns)

In [75]:
for index,col in enumerate(df.columns):
    df.rename({col:original_data[index]},axis="columns",inplace=True)

#### Seperate Numerical and Categorical Data Type

In [66]:
numerical = list()
categorial = list()
for col in df.columns:
    if df[col].dtype == "O":
        categorial.append(col)
    else:
        numerical.append(col)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119390 non-null  object
 3   arrival_date_year               119390 non-null  object
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  object
 6   arrival_date_day_of_month       119390 non-null  object
 7   stays_in_weekend_nights         119390 non-null  object
 8   stays_in_week_nights            119390 non-null  object
 9   adults                          119390 non-null  object
 10  children                        119390 non-null  object
 11  babies                          119390 non-null  object
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  object
 17  previous_cancellations          119390 non-null  object
 18  previous_bookings_not_canceled  119390 non-null  object
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  object
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  object
 24  days_in_waiting_list            119390 non-null  object
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  object
 27  required_car_parking_spaces     119390 non-null  object
 28  total_of_special_requests       119390 non-null  object
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: object(31)
memory usage: 28.2+ MB

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119390 non-null  object
 3   arrival_date_year               119390 non-null  object
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  object
 6   arrival_date_day_of_month       119390 non-null  object
 7   stays_in_weekend_nights         119390 non-null  object
 8   stays_in_week_nights            119390 non-null  object
 9   adults                          119390 non-null  object
 10  children                        119390 non-null  object
 11  babies                          119390 non-null  object
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  object
 17  previous_cancellations          119390 non-null  object
 18  previous_bookings_not_canceled  119390 non-null  object
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  object
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  object
 24  days_in_waiting_list            119390 non-null  object
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  object
 27  required_car_parking_spaces     119390 non-null  object
 28  total_of_special_requests       119390 non-null  object
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: object(31)
memory usage: 28.2+ MB

In [67]:
categorial

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

### MinMaxScalar

Transform features by scaling each feature to a given range. This estimator scales and translates each feature individually such that it is in the given range on the training set, e.g. between zero and one.

The transformation is given by::
```
    X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
    X_scaled = X_std * (max - min) + min
```
where min, max = feature_range.

This transformation is often used as an alternative to zero mean, unit variance scaling.

In [59]:
minmaxscale = MinMaxScaler()

#### Before Scaling

In [60]:
df.head(7)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,9.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,No Deposit,9.0,0,Transient,107.0,0,0,Check-Out,2015-07-03

In [63]:
for num in numerical:
    df[num] = minmaxscale.fit_transform(df[num])

#### After Scaling

In [64]:
df.head(7)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,9.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,No Deposit,9.0,0,Transient,107.0,0,0,Check-Out,2015-07-03

In [65]:
numerical

[]

In [82]:
onehot = OneHotEncoder()

### OneHotEncoder

Encode categorical features as a one-hot numeric array.

The input to this transformer should be an array-like of integers or strings, denoting the values taken on by categorical (discrete) features. The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
encoding scheme. This creates a binary column for each category and returns a sparse matrix or dense array (depending on the ``sparse`` parameter)

### Feature Selection

#### train_test_split
   
Split arrays or vectors into random train and test subsets

In [2]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_case = 0.2)

test_case = 0.2; i.e., 20% of Data is used for Testing purpose and 80% of Data is used for Training purpose